<!-- <div class="container">
    <div class="row">
        <div class="col-md-9"></div>
        <div class="col-md-3">
            <img src="https://media0.giphy.com/media/l378w2NKt3URm6w5W/giphy.webp?cid=ecf05e4793f19cb64a7d79da54921471db873e7d5ba8795d&rid=giphy.webp" alt="">
        </div>
    </div>
</div> -->
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <app-directory (characterSelected)="getCurrentCharacter($event)"></app-directory>
        </div>
       
        <div class="col-md-6">
           <section>
                <img src="{{this.currentCharacter.image}}" alt="">
           </section>
        </div>
    </div>
</div>