
$portal-green: #32cd32;
button{
    background-color: $portal-green;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
}
button:hover{
    opacity: .5;
}