input{
    text-align: center;
}
li{
    list-style: none;
}

#details{
    text-align: left;
    font-size: 100%;
    
}
.characterRows{
    display: flex;
}
.characterRows > div {
    flex: 1;
}
// used a global scss variable in styles.scss