/* You can add global styles to this file, and also import other style files */
$portal-green: #32cd32;
button{
    background-color: $portal-green;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    outline: none;
}
button:hover{
    opacity: .5;
}
#addbtn{
    background-color: $portal-green;
  }
body{
    background-color: black;
    color: white;
}
li{
    list-style: none;
}