<!-- this table was copied from a tutorial found online and tweeked until it worked for me -->
<!-- was just focused on getting data to the page at this point -->

<!-- <table>
    <tr>
        <th>Name</th>
        <th>Status</th>
        <th>Species</th>
        <th>Type</th>
        <th>Gender</th>
    </tr>
    <tr *ngFor="let character of allData?.results" (click)="onSelect(character)">
        <td>{{character.name}}</td>
        <td>{{character.status}}</td>
        <td>{{character.species}}</td>
        <td>{{character.type}}</td>
        <td>{{character.gender}}</td>
    </tr>
</table> -->
<h1 class="text-center">All Characters</h1>

    <!-- I think this is sloppy, and there's probably a better way, but what I have two ngIf elseBlock statements
    controlled by a "click" bool inside of a main ngIf elseBlock controlled by a mainBool.

    In order to access the paginated responses from the API, I had to access each initial responses "next" or "prev"
    properties which defined the corresponding urls.

    I wound up with 3 variables to contain data; allData(the initial response), nextData, and prevData
    and here is where I iterate through each of them depending on the status of main Bool and click. -->
<div class="container text-center">
    <div *ngIf="mainBool, else elseBlock">      

        <div class= "text-center" *ngIf="click, else elseBlock">
                <!-- the data we need is in a nested array called results -->
              <li  class="dropdown-toggle" *ngFor="let character of allData?.results" (click)="onSelect(character)">
                  <!-- i like the badges they look cute -->
                <span id="characterDropdown" class="badge dropdown-toggle"  (click)="character.selected = true">{{character.name}}</span>
                <span id="addbtn" class="badge" *ngIf="this.character.selected === true" (click)="getSelectedCharacter()"> Add to Favorites</span>
                <!-- <div id="dropdown" class="dropdown-menu" aria-labelledby="characterDropdown" *ngIf="character.selected">
                    <a class="dropdown-item" href="#">Add To Favorites</a>
                </div> -->
              </li>
        </div>

        <ng-template #elseBlock>
              <li *ngFor="let character of nextData?.results" (click)="onSelect(character)" >
                  <!-- i like the badges they look cute -->
                <span class="badge">{{character.name}}</span>
              </li>
        </ng-template>

    </div>

        <ng-template #elseBlock>
            <div class="text-center" *ngIf="click, else elseBlock">
                  <li *ngFor="let character of allData?.results" (click)="onSelect(character)" >
                    <span class="badge">{{character.name}}</span>
                  </li>
            </div>
            <ng-template #elseBlock>
                <div class="text-center">
                    <li *ngFor="let character of prevData?.results" (click)="onSelect(character)" >
                    <span class="badge">{{character.name}}</span>
                    </li>
                </div>                  
            </ng-template>
        </ng-template>

    <div >
        <div class="btnholder">
            <button id="prevbtn" type="submit" class="btn btn-lg" (click)="onPrevClick()">
                Prev
            </button>
            <!-- I wanted to tie the pageCounter variable to the pageIterator variable in RmapiService,
            but as of now the two are seperate. Managed to make this unnoticable to the user, but I don't like it. -->
            <span class="$pageCounter">{{pageCounter}}</span>
            <button id="nextbtn" type="submit" class="btn btn-lg" (click)="onNextClick()">
                Next
            </button>
        </div>
    </div>

</div>
    



