  .badge:hover{
    cursor: pointer;
    opacity: .5;
  }
  #prevbtn{
    margin-right: 10px;
  }
  #nextbtn{
    margin-left: 10px;
  }
  .btnholder{
    margin-top: 40px;
  }
  li{
    list-style: none;
  }
  .container{
    width: auto;
    position: relative;
    top: 30px;
  }
  h1{
    position: relative;
    top: 0;
    right: 0;
    bottom: auto;
    left: 0;
    margin: auto;
    display: block;
}

// used a global scss variable in styles.scss