


<div class="container container-fluid"> 
    <div class="row">
        <div class="col-md-6">
            <app-directory (addBtnClicked)="addToFavorites()"></app-directory>  
        </div>
             
        <div class="col-md-6 text-center">
            <h1>Favorites</h1>
            <div>
                <div *ngIf="favCharacters.length === 1">
            <!-- cant this this to work yet. having trouble getting the selectedCharacter variable data from directory -->
                    <ul>
                        <li *ngFor="let character of favCharacters"><span>{{character.name}}</span></li>
                    </ul>
                
                </div>   
            </div>
            
        </div>
    </div>
</div>
<div class="col-md-6"></div>
<div class="col-md-6 text-center">
    <button id="delete" type="submit" class="btn btn-lg">
        Delete
    </button>
</div>
<div class="container-fluid">
    
</div>
    

