/* .container{
  width: auto;
  position: relative;
} */
h1{
    position: relative;
    top: 0;
    right: 0;
    bottom: auto;
    left: 0;
    margin: auto;
    display: block;
}
// used a global scss variable in styles.scss
app-directory{
 bottom: auto;
 top: auto;
}
#bootyshakingrick{
  height: 400px;
  margin-top: 70px;
}
.container{
  display: block flex;
}
#favholder{
  height: 397px;
  text-align: center;
}

.row{
  margin-left: 50px;
  margin-right: 50px;
}
li:hover{
  cursor: pointer;
  opacity: .5;
}